.container {
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
  background: #eee;
}

.button-container {
  min-height: 100px;
  display: flex;
  align-items: flex-end;
}

.search-container {
  margin-bottom: 30px;
}

.search-container h1{
  margin-bottom: 30px;
}